
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cadastro Cliente</h2>
<p>
    <input type="text" placeholder="Nome Completo" name="Nome" />
    <input type="date" placeholder="Data de nasc" name="Data nasc" /> 
</p>
<p>
    <input type="text" placeholder="RG" name="RG" />
    <input type="text" placeholder="CPF" name="CPF" />
</p>
<p>
    <input type="text" placeholder="Endereço" name="Endereço" /> 
</p>
<p>
    <input type="text" placeholder="" />
</p>
<p>
    <input type="text" placeholder="Cidade" name="Cidade" />
    <select>
        <option value="AC">Acre</option>
        <option value="AL">Alagoas</option>
        <option value="AP">Amapá</option>
        <option value="AM">Amazonas</option>
        <option value="BA">Bahia</option>
        <option value="CE">Ceará</option>
        <option value="DF">Distrito Federal</option>
        <option value="ES">Espírito Santo</option>
        <option value="GO">Goiás</option>
        <option value="MA">Maranhão</option>
        <option value="MG">Minas Gerais</option>
        <option value="MS">Mato Grosso do Sul</option>
        <option value="MT">Mato Grosso</option>
        <option value="PA">Pará</option>
        <option value="PB">Paraiba</option>
        <option value="PR">Paraná</option>
        <option value="PE">Pernanmbuco</option>
        <option value="PI">Piauí</option>
        <option value="RJ">Rio de Janeiro</option>
        <option value="RN">Rio Grande do Norte</option>
        <option value="RS">Rio Grande do Sul</option>
        <option value="RO">Rondônia</option>
        <option value="RR">Roraima</option>
        <option value="SE">Sergipe</option>
        <option value="SC">Santa Catarina</option>
        <option value="SP">São Paulo</option>
        <option value="TO">Tocantins</option>
    </select>
</p>
<p>
    <input type="email" placeholder="Email" name="Email" />
    <input type="email" placeholder="Email" name="Email" />
</p>
<p>
    <input type="text" placeholder="Telefone" name="Telefone" />
    <input type="text" placeholder="Telefone" name="Telefone" />
</p>
<p><input type="text" placeholder="Passaporte" name="Passaporte" /></p>



