
@{
    ViewBag.Title = "Cadastro";
}

<header class="masthead">

    <div class="container page-content">

        <div class="row">
            <div class="col-12">
                <h2>Cadastro Funcionário</h2>
            </div>

            <div class="col-12">
                <input type="text" placeholder="Nome Completo" name="Nome" class="form-control" />
            </div>

            <div class="col-6">
                <input type="text" placeholder="RG" name="RG" class="form-control" />
            </div>
            <div class="col-6">
                <input type="text" placeholder="CPF" name="CPF" class="form-control" />
            </div>

            <div class="col-12">
                <input type="text" placeholder="Endereço" name="Endereço" class="form-control" />
            </div>

            <div class="col-12">
                <input type="email" placeholder="Email" name="Email" class="form-control" />
            </div>
            <div class="col-12">
                <input type="text" placeholder="Telefone" name="Telefone" class="form-control" />
            </div>

        </div>
        <hr />
        <div class="row">
            <div class="col-4">
                <input type="button" class="btn btn-success" value="Confirmar" onclick="Confirmar();" />
            </div>

        </div>
    </div>

</header>

@section scripts{

<script>
    function Confirmar() {
        alert('Cadastrado com exito!');
    }

</script>

}




