
@{
    ViewBag.Title = "Credito";
}

<h2>Crédito</h2>

<p>
    <input type="text" placeholder="Nome" name="Nome" />
</p>
<p>
    <input type="text" placeholder="CPF" name="CPF" />
    <input type="email" placeholder="Email" name="Email" />
</p>
<p>
    <input type="number" placeholder="Valor" name="Valor" />
</p>
<p>
    <input type="text" placeholder="Nº Cartão" name="Nº Cartão" />
    <input type="text" placeholder="Bandeira" name="Bandeira" />
</p>
<p>
    <input type="date" placeholder="Validade" name="Validade" />
    <input type="number" placeholder="Cod Segurança" name="Cod Segurança" />
</p>
<p><select>
    <option value="Qtde de parcelas">Qtde de parcelas</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>



</select></p>
<button type="submit">Confirmar</button>
