
@{
    ViewBag.Title = "Debito";
}

<h2>Débito</h2>

<p>
    <input type="text" placeholder="Nome" name="Nome" />
</p>
<p>
    <input type="text" placeholder="CPF" name="CPF" />
    <input type="email" placeholder="Email" name="Email" />
</p>
<p>
    <input type="number" placeholder="Valor" name="Valor" />
</p>
<p>
    <input type="text" placeholder="Nº Cartão" name="Nº Cartão" />
    <input type="text" placeholder="Bandeira" name="Bandeira" />
</p>
<button type="submit">Confirmar</button>

