
@{
    ViewBag.Title = "Index";
}

<h2>Agenda</h2>

<p>
    Você pode agendar um dia e horário para um atendimento VIP, para que possamos esclarecer todas suas dúvidas e ajudá-lo a
    decidir sobre qual a melhor opção de intecâmbio para você.
</p>
<p>  <input type="date" placeholder="Data" name="Data" /></p>
<form>
  <label for="hora-cons">Escolha o horário da consulta: </label>
  <input id="hora-cons" type="time" name="hora-cons">
</form>