
@{
    ViewBag.Title = "Index";
}

<h2>Pacotes</h2>

<p>
    Atualmente a Interclass oferece aos nossos clientes 2 tipos de pacotes sendo eles High School voltado para adolescentes
    entre 14 e 18 anos que desejam cursar o Ensino Médio no exterior e Estudar e Trabalhar indicado para pessoas que têm
    interesse em aperfeiçoar o idioma, adquirir vocabulário e experiência profissional no exterior e até mesmo suavizar as
    despesas do intercâmbio, conciliando estudo com a possibilidade de trabalhar, e você poderá optar por 4 países para viver
    essa experiência maravilhosa.
</p>

