
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cadastro Funcionário</h2>
<p>
    <input type="text" placeholder="Nome Completo" name="Nome" />
    <input type="date" placeholder="Data de nasc" name="Data nasc" />
</p>
<p>
    <input type="text" placeholder="RG" name="RG" />
    <input type="text" placeholder="CPF" name="CPF" />
</p>
<p>
    <input type="text" placeholder="Endereço" name="Endereço" />
</p>

<p>
    <input type="email" placeholder="Email" name="Email" />
    />

</p>
<p>
    <input type="number" placeholder="Telefone" name="Telefone" />
</p>



