@{
    ViewBag.Title = "ProdutosComCompraOnline";
    Layout = "~/Views/Shared/_usuarioLayout.cshtml";
}
<script>
    var reais = "R$";
    var a = 2245.00;
    var b = 2245.00;
    var c = 2939.00;
    var d = 2890.00;
</script>
<h2>Produtos</h2>

<div class="prod1">

    <img src="~/img/prod1.png" /><button id="btnComprar" value="Comprar" onclick=""><a href="http://localhost:49300/Usuario/InformacoesDoCartao">Comprar</a></button>
</div>
<div class="prod2">
    <img src="~/img/prod2.png" /><button id="btnComprar" value="Comprar" onclick=""><a href="http://localhost:49300/Usuario/InformacoesDoCartao">Comprar</button>
</div>
<div class="prod3">
    <img src="~/img/prod3.png" /><button id="btnComprar" value="Comprar" onclick=""><a href="http://localhost:49300/Usuario/InformacoesDoCartao">Comprar</button>
</div>
<div class="prod4">
    <img src="~/img/prod4.png" /><button id="btnComprar" value="Comprar" onclick=""><a href="http://localhost:49300/Usuario/InformacoesDoCartao">Comprar</button>
</div>
