
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cadastro Plano</h2>
<p>
    <input type="text" placeholder="Tipo de Plano" name="Plano" />
    
</p>
<p>
    <input type="number" placeholder="Valor" name="Valor" />
    <input type="text" placeholder="Destino" name="Destino" />
</p>
<p>
    <input type="text" placeholder="Descrição" name="Descrição" />
</p>
<button type="submit">Confirmar</button> 



