
@{
    ViewBag.Title = "Canada";
}
<style>
    .ajuste{
        position:relative;
        left:70px;
        text-align:justify;
    }
    .ajuste h3{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
        .ajuste h4{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
</style>
<div class="ajuste">
    <img src="~/img/titulo.png" /><br />


    <img src="~/img/idade.png" /><strong>ENTRE 14 E 18 ANOS</strong><br />
    <img src="~/img/duração.png" /><strong>A PARTIR DE 1 SEMESTRE LETIVO</strong><br />
    <img src="~/img/idioma.png" /><strong>INGLÊS INTERMEDIÁRIO</strong><br />
    <img src="~/img/valor.png" /><strong>A PARTIR DE CAD 12.410,00//SEMESTRE</strong><br /><br />


    <h4><strong>FORMA DE PAGAMENTO:</strong>ENTRADA DE 30% + PARCELAMENTO EM ATÉ 10X SEM JUROS NO CARTÃO DE CRÉDITO</h4>
    <h3><img src="~/img/seta1.png" /><strong>PORQUE FAZER O HIGH SCHOOL NO CANADÁ?</strong></h3>
    <h5>O<strong> Canadá</strong> é um dos países mais multiculturais e com <strong>melhor qualidade de vida no mundo</strong>. Está aí a primeira razão para fazer o colegial no país, 
    mas existem muitas outras: qualidade de ensino, modernidade e segurança. Tudo isso em um país para quem gosta de esportes e atividades ao ar livre, 
    já que todas as suas cidades são repletas de espaços verdes e parques nacionais.</h5><br />

    <h3><img src="~/img/seta1.png" /><strong>OQUE VOCÊ SÓ ENCONTRA LÁ?</strong></h3>
    <h5>A possibilidade de estudar em <strong>inglês ou francês</strong>, dependendo, é claro, da região que você escolher. Além disso, fazendo o<strong> ensino médio no Canadá</strong>, 
    você terá contato direto com diferentes culturas em um país que tem uma das taxas de imigração mais elevadas do mundo. O sistema de ensino é um dos 
    mais bem avaliados entre os países de língua inglesa, resultado de um forte investimento público nas escolas.</h5><br />
    
    <h3><img src="~/img/seta1.png" /><strong>COMO SÃO AS ESCOLAS DE HIGH SCHOOL NO CANADÁ</strong></h3>
    <h5>
        No Canadá os programas de <strong>High School nas escolas públicas </strong>podem durar a partir de um semestre letivo, sendo que você ficará hospedado em casas de famílias selecionadas.

        Já a maioria das <strong>escolas particulares canadenses </strong>oferece acomodação na própria escola, e priorizam o alto desempenho acadêmico, preparando os estudantes para serem aceitos nas mais prestigiadas universidades da América do Norte.
    </h5>
    <h3><img src="~/img/seta1.png" /><strong>COMO FUNCIONA O ANO LETIVO?</strong></h3>
    <h5>
        O ano letivo no Canadá começa em setembro e termina no ano seguinte, em junho, sendo que a data exata de início das aulas varia de acordo com cada escola.

        No Canadá há dois tipos de escolas:
        - Semester/ Semestered: São escolas onde os estudantes só podem cursar 4 matérias ao longo do semestre acadêmico;
        - Linear: As escolas lineares são escolas onde os estudantes podem cursar 8 matérias no semestre acadêmico.
        A maioria delas adota o sistema semester. Neste caso, você deve priorizar as quatro matérias teóricas (inglês, matemática, estudos sociais e ciências) e praticar o esporte de preferência fora da escola.
        CONHEÇA OUTROS PAÍSES
    </h5>
</div>