
@{
    ViewBag.Title = "EUA";
}
    <div class="ajuste">
        <img src="~/img/titulo1.png" /><br />
        <h3><img src="~/img/seta1.png" /><strong>COMO FUNCIONA O HIGH SCHOOL EM ESCOLAS PARTICULARES NOS ESTADOS UNIDOS?</strong></h3><br />
        <h5><stro*ng>VALOR:</stro*ng>A PARTIR DE <h5 style="color:coral;"> USD 12.550,00</h5>/semestre</h5>
        <h5>
            O STB High School Private permite que o estudante tenha total controle no momento da escolha de onde irá estudar. A inscrição é feita 
            com base no que a escola oferece ao aluno e como isso irá ajudá-lo em seu objetivo pessoal, que pode ser melhora linguística, experiência 
            cultural, reforço ou um maior desafio acadêmico, preparação para universidade ou mesmo vários desses itens. O aluno do STB High School 
            Private tem a possibilidade de cursar múltiplos anos do programa e, inclusive, ganhar a certificação de conclusão do ensino médio americano. 
            Algumas das vantagens de se estudar por mais de um ano letivo é a aquisição da fluência no idioma inglês, da maior inserção da cultura americana 
            e de todo o processo de aconselhamento à universidade que grande parte das escolas particulares dispõem. Algumas das escolas do STB High School Private
            são especializadas em guiar o aluno para uma escolha assertiva de universidade nos EUA. Essas escolas são chamadas de Preparatory Schools ou, abreviadamente, Prep Schools.<br /><br />


            As escolas particulares são curadas de modo a atender perfis de estudantes diferentes, como os que têm alta expectativa acadêmica, os que buscam programas
            \focados na prática esportiva profissional, os que querem propostas educacionais diferenciadas e também aqueles que desejam instituições filiadas a alguma
            corrente religiosa específica. Há grande variedade de localização, desde cidades pequenas do interior dos Estados Unidos até grandes metrópoles como Nova York, 
            Los Angeles e Boston.
        </h5>
    </div>