
@{
    ViewBag.Title = "Ferias";
}

<h1>FÉRIAS NA OXFORD UNIVERSITY</h1>
<h3><strong>STB BUSINESS AND LEADERSHIP CAMP</strong></h3>

<img src="~/img/feriasprod.png"/>
<h1>PARA QUEM</h1>


<h4>
    O intercâmbio de férias em Oxford é ideal para alunos que estão cursando o ensino médio em escolas 
    brasileiras ou internacionais, desejam viver uma experiência acadêmica na Oxford University, uma 
    das 10 melhores universidades do mundo, e que já tenham um nível de inglês intermediário - quanto 
    melhor o inglês, mais benefícios o aluno tira do programa.<br />

    Este programa é desenvolvido tanto para aqueles que tenham interesse em ter contato com disciplinas 
    que possivelmente farão parte das opções da escolha universitária quanto para abrir novas 
    possibilidades de escolha para o futuro acadêmico.<br />
</h4>

<p></p>
<h1><strong>COMO É O PROGRAMA</strong></h1>
<h4>
    O Pre-College da Summerfuel oferece aos estudantes a oportunidade de estudar em uma das 
    mais renomadas instituições de ensino do mundo, a Universidade de Oxford.<br />

    objetivo é encorajar os alunos a explorarem novas áreas do conhecimento por meio da experiência
    acadêmica dos professores da universidade que ministram os seminários e workshops.<br />

    Os seminários acontecem diariamente, no período da manhã, e são desenvolvidos para serem interativos
    e inspiradores, com ênfase no debate entre os estudantes. Já os workshops são ministrados três vezes
    por semana, durante a tarde<br />

    Atividades de campo e visitas guiadas a pontos estratégicos da região complementam as atividades do 
    programa, permitindo que o aluno a viva uma experiência inesquecível em Oxford<br />
</h4>
<br />
<h3><strong>Confira um exemplo de quais matérias podem fazer parte do programa:</strong></h3>
<h3><strong>Seminário I:</strong></h3>
<h4>
    Negócios internacionais<br />
    Marketing e Publicidade<br />
    Ciências Médicas*<br />
    Arte e Arquitetura<br />
    Escrita criativa<br />
    Shakespeare<br />
    Filosofia, Política e Economia<br />
    Psicologia de desenvolvimento<br />
</h4>
<h3><strong>Seminário I:</strong></h3>
<h4>
    Empreendedorismo<br />
    Finanças<br />
    Genética*<br />
    Shakespeare<br />
    Preparação para o SAT (taxa extra de USD 695)<br />
    Autores de Oxford<br />
    Direito e sociedade<br />
    Psicologia criminal<br />
</h4>
<h3><strong>Workshops:</strong></h3>
<h4>
    Fotografia digital (taxa extra: USD 75)**<br />
    Workshop para atores<br />
    Técnicas para Essay<br />
    Técnicas de oratória<br />
    Esportes and Fitness<br />
</h4>
<h3><strong>Veja um exemplo de como poderá ser o seu dia:</strong></h3>
<img src="~/img/conograma.png" />
<h4>*Esse curso tem como pré*requisito a conclusão do curso de biologia no ensino médio.
    **O estudante que optar por esse curso deverá levar um notebook com Adobe Photoshop e uma câmera modelo DSLR.
</h4>
<h1><strong>VISTO:</strong></h1>
<h4>Não é necessário o visto para esse destino, por se tratar da Inglaterra. No entanto, é necessária autorização de ambos os pais para o embarque de menor desacompanhado.</h4>
<h1><strong>OQUE ESTÁ INCLUÍDO NO PROGRAMA?</strong></h1>
<h4>
    - 3 semanas de curso;
    - Acomodação em campus universitário, em quartos individuais;
    - Meia pensão (duas refeições por dia, enquanto os alunos estiverem no campus);
    - Atividades e excursões mencionadas;
    - Certificado do curso;
    - Transfer de ida e volta (consultar horários específicos de acordo com o centro);
    - Guias locais da escola durante todo o programa.
</h4>
