
@{
    ViewBag.Title = "Irlanda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="~/img/titulo3.png" /><br />

<img src="~/img/prod5.png" />
<button value="Solicitar Agendamento"><a href="http://localhost:49300/Usuario/AgendarContato">Solicitar Agendamento</button></a>

<h2>PARA QUEM:</h2>
<h4>
    Para quem deseja aprender e praticar o inglês em Dublin, uma das cidades mais receptivas e procuradas por estudantes internacionais na Irlanda.
    Neste programa, o estudante terá a oportunidade de se hospedar na residência de uma das mais importantes universidades da Irlanda: Trinity Halls
    of Residence, onde vai conviver com estudantes do mundo todo e conhecer um pouco mais da cultura irlandesa.
</h4><br />

<h2>COMO É O PROGRAMA:</h2>
<h4>
    Os estudantes terão aula de inglês das 9h00 às 12h15, em grupos nivelados de acordo com o teste de idioma aplicado no primeiro dia de aula.
    São aceitos estudantes do nível iniciante até o avançado. As aulas de inglês são voltadas para as principais habilidades do idioma – leitura,
    conversação, escrita e compreensão oral. E o mais importante: durante o programa, os estudantes terão a oportunidade de colocar seus conhecimentos
    em prática, potencializando seu aprendizado por meio da vivência local e também da convivência com os outros alunos do camp.<br />

    Durante a tarde e no período da noite, os estudantes poderão participar de atividades esportivas, culturais e sociais. Visita a museus e locais
    culturais de Dublin, cinema, dança, karaokê e várias opções de esportes, como vôlei, futebol e basquete, são algumas das atividades que podem ser propostas.<br />

    Aos sábados estão programadas excursões onde os alunos passarão o dia inteiro fora da escola e poderão explorar alguns dos principais pontos turísticos de Dublin
    e da Irlanda. Dentre elas, estão visitas à Belfast, onde fica o famoso Museu do Titanic, ao Cliffs of Moher, uma das paisagens naturais mais impressionantes da
    Irlanda e terá a oportunidade de conhecer alguns dos cenários da série Game of Thrones na Irlanda no Norte!
</h4>

