
@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>A InterClass</h2>

<p>Somos uma empresa que oferece a você a melhor experiência de intercâmbio, pois estamos atentos a todos os detalhes e presentes sempre que você precisar.</p>
<p>Vamos falar mais um pouco sobre o que é um intercâmbio, o que esperar de um intercâmbio e como escolher o que irá anteder melhor as suas necessidades. </p>
<p>Vamos lá!</p>
<p>O QUE É INTERCÂMBIO?</p>
<p>Intercâmbio é um período de estudo ou trabalho no exterior que promove, além do aprendizado do idioma, uma troca cultural.</p>
<p>QUAIS OS PRINCIPAIS TIPOS DE INTERCÂMBIO? </p>
<p>
    Existem diversas alternativas para quem busca um intercâmbio, sendo o curso de idiomas no exterior o mais conhecido e 
    procurado por todas as idades. Além deste, há grande busca por intercâmbio de férias e High School por jovens de 14 a 18 
    anos, extensão universitária ou exames de proficiência, como TOEFL, IELTS e Cambridge, e também opções de intercâmbio em 
    família para todas as idades, há também aqueles que estudam e trabalham na cidade onde está em intercâmbio.
</p>
<p>
    Diante de todas essas opções, o mais importante é escolher um programa que combine com o perfil do intercambista e abrace 
    suas aspirações pessoais, educacionais e também profissionais.
</p>

<p>
    QUANTO CUSTA UM INTERCÂMBIO?
</p>
<p>
    O preço do intercâmbio pode variar de acordo com os objetivos do intercambista. O valor passa a ser definido após a escolha
    do destino, depois disso você deve optar entre os pacotes e planos que ofeceremos e escolhendo um seguro que irá te atender 
    no seu país de destino caso tenha alguma emergencia médica e/ou perda de documentos.
</p>
<p>
    Saber o custo de vida do país escolhido para o programa de intercâmbio é muito importante para iniciar o planejamento
    financeiro da viagem. Por exemplo, países como Irlanda, Canadá e Austrália podem ter um menor custo, além de possibilitar
    que a pessoa estude e trabalhe no país, colaborando para a administração da viagem.
</p>

<p>
    COMO FECHAR UM INTERCÂMBIO?
</p>
<p>
    Após a decisão de viver uma experiência transformadora no exterior, procure um especialista nossa agência de intercâmbio
    InterClass. Ele pode tirar dúvidas como: onde fazer o seu intercâmbio, quanto tempo ficar, qual moradia escolher no exterior, 
    quais documentos são necessários e quanto custa estudar no exterior! Você não pagará mais caro e viajará com muito mais segurança.
</p>


